body {
    font-family: Arial, sans-serif;
    background-color: #f4fcff;
    color: #161922;
    margin: 1em auto;
}

h1 {
    margin-top: 2em;
    margin-bottom: 1em;
}

h2 {
    margin-top: 2em;
}

h1, h2 {
    text-align: center;
}

table {
    border-collapse: collapse;
    margin: 0.5em auto 2em;
    width: auto;
    min-width: 1000px;
}

table td:first-child,
table th:first-child {
    width: 150px; 
    max-width: 150px;
    word-wrap: break-word; 
}

table td:nth-child(2), table td:nth-child(2)
table th:nth-child(3), table td:nth-child(3) {
    width: 300px; 
    max-width: 300px;
    word-wrap: break-word; 
}

th {
    border: 1px solid #000;
    padding: 10px 15px;
    background-color: #1059ad;
    text-align: center; 
    color: #f4fcff;
}

td {
    border: 1px solid #000;
    padding: 10px 15px;
    text-align: left; 
}